-var o2_icon = '<span><b>O<sup>2</sup></b></span>'
-var zz_icon = '<span class="glyphicon glyphicon-flash"></span>'

mixin date(timestamp)
	- var d = new Date(timestamp)
	- var aaaa = d.getFullYear()
	- var mm = d.getMonth()
	- var dd = d.getDate()
	- var hh = d.getHours()
	- var uu = d.getMinutes()
	- var ss = d.getSeconds()
	span #{aaaa}/#{mm}/#{dd} #{hh}:#{uu}:#{ss}

if !bug
	p.text-danger Bug not found.
else
	p= bug.description
	br
	table.table
		tr
			th(width='5%')!= o2_icon
			if bug.o2boost > 0
				th.text-success +#{bug.o2boost}
			else
				th.text-danger= bug.o2boost
			th(width='5%')!= zz_icon
			if bug.zboost > 0
				th.text-success +#{bug.zboost}
			else
				th.text-danger= bug.zboost
			th +#{bug.score_bonus} pts / round

	if status
		h3 Last status&nbsp;-&nbsp;
			if bug.status === "failure"
				strong.text-danger FAILURE
			else
				strong.text-success SUCCESS
			end
		if bug.output
			pre= bug.output

		h3 Logs
		table.table
			tr
				th(width='10%') Round
				th(width='30%') Timestamp
				th Status
			for round, index in rounds
				tr
					th # #{index}
					td
						+date(round.timestamp)
					th
						if bug.status === "failure"
							span.text-danger FAILURE
							button.btn.btn-link(data-toggle='popover' data-content="<pre>#{bug.output}</pre>" data-placement='top' data-trigger='focus' data-html='true') Show output
						else
							span.text-success SUCCESS
