extends layout

block content

	div.container
		div.row
			div.col-sm-12
				h1
					= team.name
					| <small>&nbsp;
					= team.score
					| pts</small>
		div.row
			div.col-sm-6
				+resource-bar(o2_icon, team.oxygen, "info")
			div.col-sm-6
				+resource-bar(zz_icon, team.energy, "warning")
		div &nbsp;

	div.container#canvas-dome
		each bug in bugs
		+round-panel(round)

			-var desc = "<p>#{bug.desc}</p><dl class='dl-horizontal dl-short'><class='text-primary'>"

			button(id=bug.id, class='slot-icon btn btn-#{bug.status}', style='background-image: url("/images/#{bug.icon}")', data-toggle='popover', data-trigger="focus", title=bug.title, data-html='true', data-content=desc)

