extends layout

block content

	.container

		div.panel.panel-custom
			h1= title
			p Keep the dome systems up and running to survive!

		+round-panel(round)

		div.panel.panel-custom
			table.table
				tr
					th(style='width: 50px')= '#'
					th= 'Team'
					th= ' '
					th= ' '
					th= ' '
				each team, index in teams
					-var cls = team.isDead? 'isdead': team.inDanger? 'indanger': '';
					tr(class='team ' + cls)
						th= index + 1
						th
							a(href='/team/' + team.id)= team.name
						td
							+o2-bar(team.oxygen)
						td
							+zz-bar(team.energy)
						th.text-muted= team.score
