-var o2_icon = '<span><b>O<sup>2</sup></b></span>'
-var zz_icon = '<span class="glyphicon glyphicon-flash"></span>'

mixin round-panel(round)
	div.panel.panel-custom
		if !round
			h3 Compatition is not started
			p Please wait...
		else if round.gameFinished
			h3 Competition is over
			p Please leave now!
		else
			- var endsAt = round.startedAt + round.duration * 1000;
			- var rest = Math.floor(new Date(endsAt - new Date().getTime()) / 1000);
			- var perc = Math.floor(rest * 100 / round.duration)
			h3 Round #{round.round}
			div.progress.countdown(data-endsAt=endsAt, data-duration=round.duration)
				div(class='progress-bar progress-bar-danger progress-bar-striped active' role='progressbar' aria-valuenow=rest aria-valuemin='0' aria-valuemax=round.duration style='width: #{perc}%') #{rest}s

mixin o2-bar(value)
	+resource-bar(o2_icon, value, "info")

mixin zz-bar(value)
	+resource-bar(zz_icon,  value, "warning")

mixin resource-bar(icon, value, color)
	dl.dl-horizontal.dl-short
		dt| !{icon}
		dd
			div.progress
				div(class='progress-bar progress-bar-#{color} progress-bar-striped active', role='progressbar', aria-valuenow=value, aria-valuemin='0', aria-valuemax='100', style='width: #{value}%') #{value}%


doctype html
html
	head
		title= title
		link(rel='stylesheet' href='/vendors/bootstrap-3.3.5-dist/css/bootstrap.min.css')
		link(rel='stylesheet' href='/stylesheets/style.css')

	body
		nav.navbar.navbar-inverse.navbar-fixed-top
			.container-fluid
				.navbar-header
					button.navbar-toggle.collapsed(data-toggle="collapse", data-target="", aria-expanded="false")
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href="/") Scoreboard

				.collapse.navbar-collapse(id="bs-example-navbar-collapse-1")
					ul.nav.navbar-nav
						li
							a(href="/rules") Rules

		block content

		script(src='/vendors/jquery-2.1.4-min/jquery.js')
		script(src='/vendors/bootstrap-3.3.5-dist/js/bootstrap.min.js')
		script(src='/javascripts/script.js')
