mixin round-panel(round, team)
	if team && team.isDead
		div.panel.panel-custom.panel-round.team.isdead
			h3 You are dead!
			div You are a disgrace for the Empire. Please leave now.

	else
		div.panel.panel-custom.panel-round
			if !round
				h3 Competition is not started
				div Please wait...
			else if round.gameFinished
				h3 Competition is over
				div Please leave now.
			else
				- var endsAt = round.startedAt + round.duration * 1000;
				- var rest = Math.floor(new Date(endsAt - new Date().getTime()) / 1000);
				- var perc = Math.floor(rest * 100 / round.duration)
				h3 Round #{round.round}
				div.progress
					div.progress-bar.progress-bar-round.progress-bar-danger.progress-bar-striped(role='progressbar' aria-valuenow=rest aria-valuemin='0' aria-valuemax=round.duration style='width: #{perc}%') #{rest}s
