extends layout

include mixins/resource_bars
include mixins/panel_round

block content

	div.container
		-var cls = team.isDead? 'team isdead' : 'team';
		#team-panel.panel.panel-custom.panel-team-status(data-tid=team.id class=cls)
			div.row
				div.col-sm-12
					h1
						= team.name
						| <small class="team-score">&nbsp;
						= team.score
						| &nbsp;pts</small>
					br
			div.row
				div.col-sm-6
					+o2-bar(team)
				div.col-sm-6
					+zz-bar(team)
			br

		+round-panel(round, team)

		div.panel.panel-custom.panel-dome(data-tid=team.id)
			div.container#canvas-dome
				each bug in bugs
					if status
						-var css = status.bugs[bug.id].status == "success" ? "success" : "danger"
						button(id=bug.id class='slot-icon btn btn-#{css}' title=bug.title data-bid=bug.id data-tid=team.id)
					else
						button(id=bug.id class='slot-icon btn' title=bug.title data-bid=bug.id data-tid=team.id)

	.modal.fade(tabindex='-1' role='dialog')#bugModal
		.modal-dialog
			.modal-content
				.modal-header
					button.close(type='button' data-dismiss='modal' aria-label='Close')
						span(aria-hidden='true') &times;
					h4.modal-title
				.modal-body
				.modal-footer
					button.btn.btn-default(type='button' data-dismiss='modal') Close
