extends layout

include mixins/resource_bars

block content
	-var o2_icon = "<span class=\"glyphicon glyphicon-thumbs-up\"></span>"
	-var zz_icon = "<span class=\"glyphicon glyphicon-usd\"></span>"

	.container.text-justify

		div.panel.panel-custom
			h1= title
			p Réparez vos apps pour gagner du hype et du cash!

		div.panel.panel-custom
			h3 Règles

			p
				| Votre compagnie est propriétaire de plusieurs applications déployées sur le cloud.
				| Chaque application, quand elle fonctionne, vous rapporte du hype et du cash.
				| La quantité de hype et de cash que possède votre entreprise est représentée par
				| les jauges suivantes:

			p.container-fluid
				.col-xs-6
					+o2-bar({oxygen: 800})
				.col-xs-6
					+zz-bar({energy: 1000})

			br
			br
			p
				| Chaque tour, votre entreprise perd&nbsp;
				span.text-danger
					strong 50&nbsp;
					!= o2_icon
				| &nbsp;et&nbsp
				span.text-danger
					strong 50&nbsp;
					!= zz_icon
				| .
				| Si l'une de ces ressources atteint&nbsp;
				span.text-danger 0
				| , alors votre entreprise fait faillite.

			p
				| Pour gagner du hype et du cash, votre entreprise dépend du bon fonctionnement
				| de vos applications.
				| Il y a 11 applications qui vous permettent de gagner l'une ou l'autre des deux
				| ressources.

			div.panel.panel-custom.panel-dome
				div.container#canvas-dome
					button.slot-icon.btn.btn-success#bug_hello
					button.slot-icon.btn.btn-danger#FireMatches
					button.slot-icon.btn.btn-success#Filther
					button.slot-icon.btn.btn-success#PearMap
					button.slot-icon.btn.btn-danger#PegMobile
					button.slot-icon.btn.btn-danger#ROMCryption
					button.slot-icon.btn.btn-success#SuperSecretSafeSystemSolution
					button.slot-icon.btn.btn-success#Wrottit

			h4 Produire du hype et du cash
			p
				| Chaque tour, le CRON d'intégration continue génère une série de fichiers
				| de tests permettant de vérifier le bon comportement de vos applications.
				| Si l'application exéctute le fichier de test correctement,
				| alors elle peut être déployée au grand publique et vous rapporter du hype
				| et/ou du cash.

			table.table
				tr
					td(width='25%') Exemple 1:
					th(width='5%')!= o2_icon
					th(width='15%').text-success +5
					th(width='5%')!= zz_icon
					th(width='15%').text-success +5
					th +10 pts / round

			p
				| Le type et la quantité de ressource produite diffère selon les applications.
				| Ainsi, certaines applications peuvent apparaître plus critiques que d'autres.

			table.table
				tr
					td(width='25%') Exemple 2:
					th(width='5%')!= o2_icon
					th(width='15%').text-success +15
					th(width='5%')!= zz_icon
					th(width='15%').text-success +10
					th +20 pts / round

			p
				| Aussi, certaines applications consomment l'une des ressource pour produire
				| la seconde.

			table.table
				tr
					td(width='25%') Exemple 3:
					th(width='5%')!= o2_icon
					th(width='15%').text-success +20
					th(width='5%')!= zz_icon
					th(width='15%').text-danger -5
					th +25 pts / round

			p
				| Malheureusement, le développement de ces applications s'est étalé sur
				| des années, et il n'est pas garanti que toutes fonctionnent
				| correctement.
				| Si par malheur, l'application ne passe pas les tests, elle ne peut pas être
				| déployée publiquement, et donc ne produit aucune ressource...
			p
				| Dans cette compétition, il vous est demandé de remettre en marche
				| l'ensemble des applications de votre entreprise pour la sauver de la faillite.
				| Souvenez vous que si l'une des deux ressources atteint 0, votre entreprise
				| fait faillite.
				strong.text-danger &nbsp;Cela signifie que vous perdez instantanément
					| la compétition et devez alors quitter la salle.

			h4 Cloner l'environnement de test
			p
				| Pour réparer les applications, vous devez d'abord cloner l'environnement
				| de test.
				| Tapez les commandes suivantes dans un terminal.
				| N'oubliez pas de remplacer IP et TEAM par les valeurs appropriées...
				| Le mot de passe est celui de votre équipe.
				pre
					| $ git clone ssh://TEAM@IP:~/debug
					| $ cd debug
					| $ ./clone_repos.sh IP TEAM

			p Tous les systèmes viennent d'être clonés sur votre ordinateur.
				pre
					| $ ls
					| bug_hello/
					| FireMatches/
					| Filther/
					| ...


			h4 Déboguer les applications.
			p
				| Chaque applciation possède son propre fichier README expliquant son
				| fonctionnement.
				| Nous recommandons fortement de commencer par le bug <i>bug_hello</i>
				pre
					| $ cd bug_hello/
					| $ cat README.md
			p
				| Le README est aussi disponible au travers de l'interface web en cliquant
				| sur les boutons de votre page d'équipe.

			p
				| Lisez attentivement les fichiers README et jetez un coup d'oeil
				| aux fichiers de tests afin de comprendre le fonctionnement attendu
				| du programme.
				| Vous pouvez ensuite corriger les fichiers source.
				pre
					| $ vim src/main.nit # Corrigez le source!

			p
				| Pour vérifier vos modifications, vous pouvez utiliser le
				| script de test automatisé.
				| En cas de différence entre votre output et le résultat attendu,
				| vous pouvez utiliser la commande <i>diff</i>.

				pre
					| $ make check
					| Compile bin...
					| Run tests...
					|  * [OK] test1
					|  * [FAIL] test2 (diff out/test_02.out tests/test_02.res)
					| ...
					| $ diff out/test_02.out tests/test_02.res


			h4 Pousser les modifications vers le CRON d'intégration continue
			p.text-danger
				| Une fois qu'une application est déboguée, vous devez pousser les modifications
				| vers votre dépôt d'équipe.
				| Ainsi, la version des sources corrigée sera disponible pour être
				| testé par le CRON.

				pre
					| git add -A
					| git commit -m "I fixed that bug!"
					| git push origin master

			p
				| C'est tout! La nouvelle version est prête à être testée.
				| Vérifiez l'interface web pour savoir si le test a fonctionné.
				| Le résultat de l'exécution de chaque programme est disponible
				| dans l'interface web après chaque tour.

			p.text-warning
				b <i>Note finale:</i>
					| Vous n'avez pas besoin de toucher à autre chose qu'aux répertoires
					| src/.
					| Les autres modifications ne sont pas prises en compte.
