extends layout

mixin build_block(version)
	table.table
		if version == 'PUBLIC'
			tr
				td(width='40%') Pull the git repository
				td(width='15%').text-center
					button(class='btn btn-primary run-pull') Pull src
				td
		tr
			td(width='40%') Run all tests
			td(width='15%').text-center
				button(class='btn btn-primary run-all') Check all
			td

mixin table(version, tests)
	table.table
		thead
			tr
				th(width='40%') Test Name
				th(width='15%')
				th
		tbody
			each test in tests
				tr
					td
						a(href='/bugs/#{bug.name}/tests/#{test.version}/#{test.name}')= test.name
					td.text-center
						button(class='btn btn-primary run-test' data-url='/bugs/#{bug.name}/check/#{version}/#{test.name}') Check test
					td
		tfoot
			tr
				th(colspan='3') Count #{tests.length}


block menus
	.collapse.navbar-collapse(id="bs-example-navbar-collapse-1")
		ul.nav.navbar-nav
			li
				a(href="/bugs/#{bug.name}")= bug.config.title
			li
				a(href="/bugs/#{bug.name}/readmes") Readmes

block content
	h1= bug.config.title
		br
		small= bug.name
	p= bug.config.description

	br
	h2 Tests
	.tab-list
		ul(class="nav nav-pills" role="tablist")
			li(role="presentation" class="active")
				a(href="#public" aria-controls="public" role="tab" data-toggle="pill") Public
			li(role="presentation")
				a(href="#private" aria-controls="private" role="tab" data-toggle="pill") Private

	br
	.tab-content
		div(role="tabpanel" class="tab-pane fade in active" id="public")
			h3 Build
			+build_block("PUBLIC")
			h3 Tests
			+table("PUBLIC", public)
		div(role="tabpanel" class="tab-pane fade" id="private")
			h3 Build
			+build_block("PRIVATE")
			h3 Tests
			+table("PRIVATE", private)
