extends layout

block menus
	.collapse.navbar-collapse(id="bs-example-navbar-collapse-1")
		ul.nav.navbar-nav
			li
				a(href="/bugs/#{bug.name}")= bug.config.title
			li
				a(href="/bugs/#{bug.name}/readmes") Readmes

block content
	h1= title

	h3 Input
		pre
			code!= input

	h3 Expected output
		pre
			code!= exp
